html{
  margin: 0;
  display: flex;
  background-color: rgb(240, 240, 240);

  width: 100%;

}
body{
 margin: 0;
}
#root{
  background-color: rgb(240, 240, 240);
  margin: 0px;
  width: 100%;
}
.container{
  padding: 12px 12px;

}